* { margin: 0; padding: 0;     font-family: 'Roboto', sans-serif; }

body, html { height:100%;   width: 100%;   display: flex; /* or inline-flex */  }

#back_img {
    height: 200px;
}

.self-node {

}

#leaderboard-next-players {
    padding-top: 20px;
}



#game {
    display: flex; /* or inline-flex */
    justify-content: center;
    align-items: center; /* align vertical */
    width:100%;
    height:100%;

}


#ctx {
    /*position:absolute;*/
    width:100%;
    height:100%;
}

#canvas-container {
    order: 2;
    display: flex; /* or inline-flex */
    justify-content: center;
    width: 60%;
    height: 100%;
}

#chat-container {
    order: 3;

    position:absolute;
    width:20%;
    height:100%;
    right: 0px;
    top: 0px; 

    padding: 0;
    border: 1px solid black;
}

.leaderboard-header {
    list-style-type: none;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 3px solid black;
   /* height: 250px;
    text-align: center; */
    font-family: 'Arial', bold;
    font-size: larger;
    font-weight: bold;
}

.leaderboard-div {
    list-style-type: none;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid black;
   /* height: 250px;
    text-align: center; */
    font-family: 'Arial', bold;
    font-size: larger;
}

#leaderboard-container {
    order: 1;

    position:absolute;
    width:20%;
    height:100%;
    left: 0px;
    top: 0px;

    padding: 0;
    border: 1px solid black;
    overflow-y: scroll;

}

#leaderboard-display {
    padding: 0;
    margin: 0;
    height: 100%;
}

#chat-display {
    padding: 0;
    margin: 0;
    text-align: left;
    overflow-y: scroll;
    /* Firefox */
    height: -moz-calc(100% - 30px);
    /* WebKit */
    height: -webkit-calc(100% - 30px);
    /* Opera */
    height: -o-calc(100% - 30px);
    /* Standard */
    height: calc(100% - 30px);
}

#chat-li {
    list-style-type: none;
    padding: 5px;
}

#chat-input {
    box-sizing: border-box;

    width: 100%;
    height: 30px;
    padding: 5px;
    border-top: 1px solid black;
}


#lobby {
    display: flex; /* or inline-flex */
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    width:100%;
}

.roomList:hover {
    color: red;
    text-decoration: underline;
}

img {
    position:absolute;
    right: 0px;
    top: 0px;
}